%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          Newest first
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li= link_to "Newest first", newest_books_path
          %li= link_to "Price: Low to hight", price_asc_books_path
          %li= link_to "Price: Hight to low",price_desc_books_path
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to books_path, class: "filter-link" do
          = t('catalog.all_categories')
          %span.badge.general-badge= Book.count
      - Category.all.each do |category|
        %li.mr-35
          = link_to books_path(books_by_category: category.title),
            class: "filter-link" do
            = "#{category.title}"
            %span.badge.general-badge= category.books.count
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Sort by
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#"} Newest first
        %li
          %a{href: "#"} Popular first
        %li
          %a{href: "#"} Price: Low to hight
        %li
          %a{href: "#"} Price: Hight to low
  .mb-120
    - @books.each_slice(4) do |four_books|
      .row
        - four_books.each do |book|
          = render 'shared/book', book: book.decorate
    .text-center
      %button.btn.btn-primary View More
